<!DOCTYPE html>
<html>
  <head>
  <title>My app</title>
  </head>
  <body>
    
      <link type="text/css" rel="stylesheet" href="pages.css.scss" />
  <div class="header">
    <div class="container">
  
    <ul class="nav">
      <li><a href="welcome">welcome</a></li>
      <li><a href="about">About</a></li>
      <li><a href ="contacts">contact</a></li>
      <li><a href="portfolio">portfolio</a></li></ul>
      
  </div>
  </div>
    
    <img src="http://p1.pichost.me/640/56/1797355.jpg"/>
    <p>Hi! I am sanju..I love nature.Nature is gods gift..I love to spend my time sitting and watching clouds...</p>
  </body>
</html>
