<!DOCTYPE html>
<html>
  <head>
    <title>contact</title>
  </head>
  <body>
      <link type="text/css" rel="stylesheet" href="pages.css.scss" />
  <div class="header">
    <div class="container">
  
    <ul class="nav">
      <li><a href="welcome">welcome</a></li>
      <li><a href="about">About</a></li>
      <li><a href ="contacts">contact</a></li>
      <li><a href="portfolio">portfolio</a></li></ul>
      
  </div>
  </div>
    
    <a href="www.twitter.com"><img src="https://wallpaperscraft.com/image/twitter_logo_symbol_bird_blue_social_network_4702_300x188.jpg" height=100px width=100px/></a>
   <a href="www.facebook.com"><img src="https://wallpaperscraft.com/image/facebook_social_network_letters_3d_97134_300x188.jpg" height=100px width=100px/></a>
    
  </body>
    </html>