<!DOCTYPE html>
<html>
  <head>
    <title>Stories</title>
  </head>
  <body>
      <link type="text/css" rel="stylesheet" href="pages.css.scss" />
  <div class="header">
    <div class="container">
  
    <ul class="nav">
      <li><a href="welcome">welcome</a></li>
      <li><a href="about">About</a></li>
      <li><a href ="contacts">contact</a></li>
      <li><a href="portfolio">portfolio</a></li></ul>
      
  </div>
  </div>
    <img src="https://wallpaperscraft.com/image/trees_footpath_park_autumn_leaves_84622_300x168.jpg"/>
    <p>It consists of trees.The footpath looks like the way to heaven.</p>
    <img src="https://wallpaperscraft.com/image/autumn_road_leaves_87738_300x168.jpg"/>
    <p>The place where i want to go with my one and only best friend..Walk together...have fun n enjoyment</p>
    <img src="https://wallpaperscraft.com/image/maldives_tropical_bungalows_sky_90627_300x168.jpg"/>
    <p>Maldives..one of my favorite spot...</p>
  </body>
</html>