<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
  </head>
  <body>
    <link type="text/css" rel="stylesheet" href="pages.css.scss" />
  <div class="header">
    <div class="container">
  
    <ul class="nav">
      <li><a href="welcome">welcome</a></li>
      <li><a href="about">About</a></li>
      <li><a href ="contacts">contact</a></li>
      <li><a href="portfolio">portfolio</a></li></ul>
      
  </div>
  </div>
  <div class="main">
    <P>Hi!I am SANJU</P>
    <p>I want to create my app</p>
    <form action="#" method="get">
      <button type="submit" value="submit">view my work</button>
    </form>
    </div>
      <div class="footer">
        <a href="http://www.Github.com">Github</a>
        <a href="http://www.Twitter.com">Twitter</a>
      </div>
    </body>
</html>